/*
breakpoint choices
phone
tab-port
tab-land
big-dt
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; /* equals 10px of 16px browser defaults */
}

body {
    
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem; 
    box-sizing: border-box;
}
@media (max-width: 56.25em) {
    body {
      padding: 0; 
    } 
}
    

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(8, 31, 46, .8), 
        rgba(46, 18, 49, .8)), 
        url(https://media.giphy.com/media/NKEt9elQ5cR68/giphy.gif);

    /* Gif background options:
        flower pattern: https://media.giphy.com/media/cnQmEcmiKTuEfyJSiR/giphy.gif
        animated worker: https://66.media.tumblr.com/7fbe4633d5adbac46013e3fe844a7cf3/tumblr_plmmu1vmaN1we9f2ro1_r1_500.gifv
        city loop: https://media.giphy.com/media/WqFqAGOStn4AD4ZK8G/giphy.gif
        anime city: https://media.giphy.com/media/NKEt9elQ5cR68/giphy.gif
        animated city: https://66.media.tumblr.com/4a6d21149a2fafe16ed43384144df8f2/tumblr_okdcwuklM71vm8ltno1_500.gif
        another animated city: https://66.media.tumblr.com/fad394d48eef73d55dc8ca6bce407f01/tumblr_p2gbtkAQKw1wk0ifjo1_500.gif
    
        rgba(30, 115, 172, 0.8), 
        rgba(142, 57, 153, 0.9)

        */

    background-size: cover;
    background-position: bottom;
    position: relative;

    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* Prevents heading animation shaking */
    backface-visibility: hidden;
    margin-bottom: 2rem;
}

.heading-primary--main {
    display: block;
    line-height: 1.3;
    font-size: 6.5rem;
    font-weight: 400;
    letter-spacing: .6rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /*
    animation-delay: 3s;
    animation-iteration-count: 3;

    */
}

.heading-primary--sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: .3rem;

    animation: moveInRight 1s ease-out;

    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: transform .2s, box-shadow .2s; /* cannot use 'all' due to chrome bug */
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: white;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}