*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  // This defines what 1rem is
  font-size: 62.5%; /* equals 10px of 16px browser defaults */
}

body {
  padding: 3rem;
  box-sizing: border-box;
}